body{
    background-color: rgb(241, 222, 241);
    padding:0;
    margin: 0;    
    font-family: 'Oswald', sans-serif;
    max-width: 100%;
}
.top-bar{
    height: 120px;
    
}
.top-bar h1{
    padding-top: 20px;
    padding-left: 40px;
}

.section-01{
    height: 700px;
    width: 100%;
   
}

.section-01-caption{
    width:50%;
    height: 600px;
   
    font-size: 30px;
    margin-left: 30px;

}

.section-01-image{
    width:30%;
    height: 500px;
   
    margin-left: 1250px;
    margin-top: -600px;
    transition: 0.5s all ease-in-out;

}
.section-01-image:hover{
    transform: scale(1.2);

}
a{
    text-decoration:none;
    color: aliceblue;
    
}
.buy-button{
    height: 40px;
    width: 240px;
    border-radius: 15px;
    margin-left: 70px;
    margin-top: 40px;
    font-size: 20px;
    background-color: rgb(177, 73, 230);
}
.buy-button:hover{
    height: 50px;
    width: 280px;
   
    font-size: 25px;
    background-color: rgb(108, 4, 129);
}

.collection-title{
    margin-left: 805px;

}

.section-02-container{
    height: 1000px;
    width: 80%;
   
    margin-left: 190px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:40px;

}
.section-02-container-items{
    
    height: 500px;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 6px;
    background-color: rgb(219, 211, 221);

}

.product-image{
    width: 430px;
    height: 320px;
    padding: 8px;
    margin-left: 7px;
    margin-bottom: -45px;
    
}
.product-title{
    margin-top: -5px;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: -25px;
    margin-left: 10px;

}
.product-price{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: -20px;
    margin-left: 10px;
    

}
.product-rating{
    margin-left: 10px;
    color: yellow;
   
    

}
.product-info{
    font-size: 15px;
    font-weight: 100;
    margin-bottom: -20px;
    margin-left: 10px;

}

    
    

.read-more a{
    position:absolute;
    left: 1540px;
    top: 2070px;
    color:rgb(142, 60, 197);
    font-size: 30px;
    font-weight: 400;
}

footer{
    margin-top: 150px;
    background-color: black;
    color: white;
    height: 200px;
    padding-top: 40px;
    text-align: center;
}

footer h3{
    margin-bottom: -15px;
}
footer i {
    margin-right: 5px;
}



